/* client/src/components/LoginPage.css */
.login-container {
    text-align: center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container .login {
    background: white;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin: auto;
    text-align: left;
}
