/* client/src/components/RegistrationForm.css */
.registration-container {
    text-align: center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-container .registration {
    width: 80%;
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.registration-container .registration h2{
    margin-bottom: 10px;
}

.registration-container .registration form {
    margin: 0 0 20px;
    padding: 20px 20px 30px;
    background: #F0F0F0;
    border-radius: 0;
} 

.registration-container .registration form input,
.registration-container .registration form select {
    background-color: white;
}

.registration-container .registration form .submit-btn{
    margin-bottom: 0;
}