/* client/src/components/Toolbar.css */
.toolbar {
    background-color: #303030;
    color: white;
    padding: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.toolbar-left .site-name {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.toolbar-right {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown-container {
    position: relative;
}

.dropdown-btn {
    background: #404040;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 0;
    transition: background-color 0.2s ease;
}

.dropdown-btn:hover {
    background: #505050;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Position below the button */
    right: 0; /* Align to the right edge of the button */
    background-color: #303030;
    border-radius: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #404040;
}

.dropdown-menu .logout-btn {
    background-color: #FF4E4E;
}

.dropdown-menu .logout-btn:hover {
    background-color: #E04343;
}